/* SignUp.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background: linear-gradient(to bottom right, #1a1a1a, #333333);
    color: white;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 20px;
}

.signup-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
    animation: fadeIn 1s ease-in-out;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}

input {
    display: block;
    width: 100%;
    margin: auto;
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);

}

button {
    background-color: #ffffff;
    color: #333333;
    border: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    /* margin: auto; */
    margin: 0.8rem 0.8rem;
    font-size: 1.1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 1.5s ease-in-out;
}

button:hover {
    background-color: #333333;
    color: #ffffff;
    transform: scale(1.1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}